<section class="hero is-success">
    <div class="containertitle">
        User list
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="cardes">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to user.username, user_path(user) %></div>
                  </div>
                </div>
                <div class="content">
                  投稿数：<%= user.attendances.count %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= video_tag("/videos/city.mp4", autoplay: :true, loop: :true, muted: :true, style: "width:100%;") %>
