// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cardes {
  background-color: lightblue;
  border-radius: 50%;
}

.submitmajin {
  margin-top: 50px;
  margin-left: 50px;
}

.boxmi12 {
  margin: 1em;
  background: #fff6e6;
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
  padding: 22px 8px 0px 8px;
  background-color: #fff6e6;
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff6e6 0%, #fff6e6 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #ed7780 100%);
  background-size: 8px 100%,100% 2em;
  line-height: 2;
  color: rgb(65, 65, 65);
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  width: 30%;
}
.boxmi12-title {
  background: #fff6e6;
  position: relative;
  font-size: 25px;
  padding: 6px 4px 2px 4px;
  color: #ee8992;
  font-weight:bold;
  text-align: center;
  margin: -16px -8px 16px -8px;
}
.boxmi12-title:before {
  position: absolute;
  content: "";
  top: 25px;
  width: 10%;
  height: 35px;
  opacity: 0.3;
  margin: -40px auto 10px -22px;
  background: #db7093;
  transform: rotate(1deg);
  left: 10px;
  right: 10px;
}
.boxmi12-title:after {
  position: absolute;
  content: "";
  top: 25px;
  width: 11%;
  height: 35px;
  opacity: 0.3;
  margin: -40px -22px 10px auto;
  background: #db7093;
  transform: rotate(3deg);
  left: 10px;
  right: 10px;
}
.boxmi12 p {
  margin: 0;
  padding: 0;
}